# Mengabaikan folder database ChromaDB
vault/chroma_db/

# Mengabaikan folder model offline (sesuaikan dengan nama foldermu jika ada di dalam project)
model_multilingual_offline/

# Mengabaikan file hasil proses ingest yang bisa di-generate ulang
vault/data/processed/cleaned_docs.jsonl

# Mengabaikan cache Python
__pycache__/
*.pyc